
.iti__flag {background-image: url(http://vbank.local/images/vendor/intl-tel-input/build/flags.png?007b2705c0a8f69dfdf6ea1bfa0341c9);}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url(http://vbank.local/images/vendor/intl-tel-input/build/flags@2x.png?9d5328fb490cddd43f6698012123404b);}
}

.img-center{
    background-repeat: no-repeat;
    background-position: center center;
}
.iti { width: auto; }

